---
layout: default
title: Our Plugins
description: Open Source
---
{% contentfor top %}
<div class="row">
  <div class="col-md-offset-1 col-md-10 reason">
    <h2>Generosity</h2>
    <p class="lead">Free now and free tomorrow.</p>
    <p>We understand that not all churches have an IT budget, or even an IT team. We also understand that sometimes the churches most that most need the tools are the churches that work with some of the poorest communities. That's why we offer our plugins on Github for free. They're free to download, install, and use. What's free now will be free tomorrow so there's no fear that we'll update a plugin and you'll be stuck on an older version or that a plugin will suddenly disappear. </p>
    <a href="{{site.github.url}}/finance.html" class="btn btn-outline btn-md">Check Out Our Reasons to Buy</a>
  </div>
</div>
{% endcontentfor %}

{% contentfor main %}
{% for p in site.data.plugins %}
<div class="row">
  <div class="col-md-12">
    <section class="bs-docs-section plugin-section" id="{{p.repo}}">
      <div class="row">
        {% if p.icon %}
        <div class="col-md-1">
            {% if p.image %}
              <img src="{{site.github.url}}/assets/images/plugins/{{p.icon}}" class="img-responsive" />
            {% else %}
              <h1><i class="fa {{p.icon}} fa-fw fa-lg"></i></h1>
          {% endif %}
        </div>
      {% endif %}
        <div class="col-md-11">
        <h1 id="first-level" >{{ p.name }}
          <small id="{{p.repo}}-version"></small>
        </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p id="{{p.repo}}--lastupdated"></p>
          <p>{{ p.description }} <br/>
          <a href="{{site.github.url}}/{{p.repo}}">Learn More</a></p>
        </div>
        <div class="col-md-12">
          {% if p.rockstore %}
            <a href="" class="btn btn-danger btn-md"><i class="fa fa-download fa-lg"></i> Rock Store</a>
          {% endif %}
          <a id="{{p.repo}}-release" href="" class="btn btn-default btn-md"><i class="fa fa-github fa-lg"></i> Github</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"  id="{{p.repo}}-changelogcontainer">
          <p id="{{p.repo}}-changedate"></p>
        </div>
      </div>
  </section>
  </div>
</div>
<hr />
{% endfor %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script>
(function() {
  var api = "https://api.github.com/orgs/BricksandMortar/repos";
  $.getJSON( api)
  .done(function( data ) {
    var i = 0;
    $(data).each(function() {
      if($('#'+this.name).length ) {
        (function(i) {
        $.getJSON( 'https://api.github.com/repos/BricksandMortar/'+data[i].name+'/releases')
        .done(function( releasedata ) {
          if (releasedata.length)
          {
            repo = data[i].name;
            $('#'+repo+'-lastupdated').append(data[i].updated_at);
            $('#'+repo+'-release').attr('href', releasedata[0].html_url);
            $('#'+repo+'-changedate').append(moment(releasedata[0].published_at).fromNow());
            $('#'+repo+'-changelogcontainer').prepend('<h2>Changelog<small id="{{p.repo}}-version"></small></h2>');
            $('#'+repo+'-version').append(releasedata[0].name);
            var converter = new showdown.Converter(), html = converter.makeHtml(releasedata[0].body);
            $('#'+repo+'-changelogcontainer').append(html);
          }
        });
      })(i);
}
  i++;
    });
  });
})();
</script>
{% endcontentfor %}
